<div class="flex justify-center">
    <div class="max-w-md mx-auto">
        <form>
            <div class="flex">
                <div class="mb-4 mr-4">
                    <label class="block text-gray-700 font-bold mb-2" for="name">
                      Your Name
                    </label>
                    <input
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="name" type="text" placeholder="Enter your name" required>
                  </div>
                  <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="email">
                      Your Email
                    </label>
                    <input
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="email" type="email" placeholder="Enter your email" required>
                  </div>
            </div>

          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="review">
              Review
            </label>
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="review" placeholder="Enter your review" required></textarea>
          </div>
            <button
            class="bg-slate-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex"
            type="submit">
            Submit
          </button>
        </form>
      </div>

</div>
<div class="mt-10"></div>
